# Reading DHS Survey and GPS datasets

In [1]:
# Magic commands to enable autoreload of imported packages
%load_ext autoreload
%autoreload 2

## Importing the package we created for getting DHS datasets

In [2]:
from poverty_predictor.get_dhsdata import GetDHSData
from poverty_predictor.merge_dataframes import merge_dhs

## Reading DHS (GPS + Survey) dataset

In [3]:
data = GetDHSData('../data/GPS/RWGE61FL.shp', '../data/Survey/RWHR61FL.dta')
gps_data = data.gps_df()
survey_data = data.survey_df()

In [4]:
dhs_data = merge_dhs(gps_data, survey_data)

In [5]:
dhs_data.head()

   Cluster Number  Latitude  Longitude  Wealth Score
0             1.0 -2.532818  29.684726     -0.386620
1             2.0 -1.833858  30.310689     -0.421574
2             3.0 -1.888155  29.478298     -0.449724
3             4.0 -2.366763  30.521692     -0.390006
4             5.0 -2.171266  30.018541     -0.416924

## Glancing through the merged DHS dataset

In [6]:
dhs_data.shape

(492, 4)

In [7]:
dhs_data.columns

Index(['Cluster Number', 'Latitude', 'Longitude', 'Wealth Score'], dtype='object')

In [8]:
dhs_data.dtypes

Cluster Number    float64
Latitude          float64
Longitude         float64
Wealth Score      float64
dtype: object

In [9]:
dhs_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 492 entries, 0 to 491
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Cluster Number  492 non-null    float64
 1   Latitude        492 non-null    float64
 2   Longitude       492 non-null    float64
 3   Wealth Score    492 non-null    float64
dtypes: float64(4)
memory usage: 19.2 KB

dhs_data.describe() doesn't give any relevant information

In [10]:
dhs_data.nunique()

Cluster Number    492
Latitude          492
Longitude         492
Wealth Score      492
dtype: int64