# Reading DHS Survey and GPS datasets

In [1]:
# Magic commands to enable autoreload of imported packages
%load_ext autoreload
%autoreload 2

Importing the packages we created for getting DHS datasets

In [2]:
from poverty_predictor.get_dhsdata import GetDHSData
from poverty_predictor.merge_dataframes import merge_dhs

Fetching raw DHS - GPS and Survey datasets

In [3]:
data = GetDHSData()
gps_df = data.gps_df()
survey_df = data.survey_df()

In [4]:
gps_df.head()

,DHSID,DHSCC,DHSYEAR,DHSCLUST,CCFIPS,ADM1FIPS,ADM1FIPSNA,ADM1SALBNA,ADM1SALBCO,ADM1DHS,...,DHSREGCO,DHSREGNA,SOURCE,URBAN_RURA,LATNUM,LONGNUM,ALT_GPS,ALT_DEM,DATUM,geometry
0,MW201500000001,MW,2015.0,1.0,MI,NULL,NULL,Central Region,MWI001,2.0,...,2.0,Central region,GPS,U,-13.360652,33.923942,482.0,1379.0,WGS84,POINT (33.92394 -13.36065)
1,MW201500000002,MW,2015.0,2.0,MI,NULL,NULL,Central Region,MWI001,2.0,...,2.0,Central region,GPS,R,-12.855043,33.336077,1069.0,1044.0,WGS84,POINT (33.33608 -12.85504)
2,MW201500000003,MW,2015.0,3.0,MI,NULL,NULL,Southern Region,MWI003,3.0,...,3.0,Southern region,GPS,R,-15.100664,35.534903,647.0,640.0,WGS84,POINT (35.53490 -15.10066)
3,MW201500000004,MW,2015.0,4.0,MI,NULL,NULL,Northern Region,MWI002,1.0,...,1.0,Northern region,GPS,R,-12.015707,34.627514,522.0,476.0,WGS84,POINT (34.62751 -12.01571)
4,MW201500000005,MW,2015.0,5.0,MI,NULL,NULL,Central Region,MWI001,2.0,...,2.0,Central region,GPS,R,-13.891912,33.000702,1153.0,1133.0,WGS84,POINT (33.00070 -13.89191)

In [5]:
survey_df.head()

,hhid,hv000,hv001,hv002,hv003,hv004,hv005,hv006,hv007,hv008,...,hml35_11,hml35_12,hml35_13,hml35_14,hml35_15,hml35_16,hml35_17,hml35_18,hml35_19,hml35_20
0,1 12,MW7,1,12,2,1,118371,1,2016,1393,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1 17,MW7,1,17,2,1,118371,1,2016,1393,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1 39,MW7,1,39,2,1,118371,1,2016,1393,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1 59,MW7,1,59,1,1,118371,1,2016,1393,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1 60,MW7,1,60,2,1,118371,1,2016,1393,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Next, we will merge the two dataframes to get the cluster number, location co-ordinates and wealth scores for each region.

In [6]:
dhs_data = merge_dhs(gps_df, survey_df)
dhs_data.head()

   Cluster Number   Latitude  Longitude  Wealth Score
0             1.0 -13.360652  33.923942      1.167215
1             2.0 -12.855043  33.336077     -0.422531
2             3.0 -15.100664  35.534903     -0.483771
3             4.0 -12.015707  34.627514     -0.033378
4             5.0 -13.891912  33.000702     -0.688653

## Glancing through the merged DHS dataset

In [7]:
dhs_data.shape

(850, 4)

In [8]:
dhs_data.columns

Index(['Cluster Number', 'Latitude', 'Longitude', 'Wealth Score'], dtype='object')

In [9]:
dhs_data.dtypes

Cluster Number    float64
Latitude          float64
Longitude         float64
Wealth Score      float64
dtype: object

In [10]:
dhs_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 850 entries, 0 to 849
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Cluster Number  850 non-null    float64
 1   Latitude        850 non-null    float64
 2   Longitude       850 non-null    float64
 3   Wealth Score    850 non-null    float64
dtypes: float64(4)
memory usage: 33.2 KB

dhs_data.describe() doesn't give any relevant information

In [11]:
dhs_data.nunique()

Cluster Number    850
Latitude          850
Longitude         850
Wealth Score      850
dtype: int64