# Reading DHS Survey and GPS datasets

In [1]:
# Magic commands to enable autoreload of imported packages
%load_ext autoreload
%autoreload 2

## Importing the package we created for getting DHS datasets

In [2]:
from poverty_predictor.merged_dhsdata import MergeDHSData

## Reading DHS (GPS + Survey) dataset

In [3]:
data = MergeDHSData('../data/GPS/RWGE61FL.shp', '../data/Survey/RWHR61FL.dta')
dhs_data = data.merged_dhs()

In [23]:
dhs_data.head()

   Cluster Number  Latitude  Longitude  Wealth Asset Index
0             1.0 -2.532818  29.684726                 2.0
1             2.0 -1.833858  30.310689                 2.5
2             3.0 -1.888155  29.478298                 2.0
3             4.0 -2.366763  30.521692                 2.0
4             5.0 -2.171266  30.018541                 2.0
5             6.0 -2.036917  30.114591                 4.0

## Glancing through the merged DHS dataset

In [6]:
dhs_data.shape

(492, 4)

In [7]:
dhs_data.columns

Index(['Cluster Number', 'Latitude', 'Longitude', 'Wealth Asset Index'], dtype='object')

In [9]:
dhs_data.dtypes

Cluster Number        float64
Latitude              float64
Longitude             float64
Wealth Asset Index    float64
dtype: object

In [10]:
dhs_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 492 entries, 0 to 491
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Cluster Number      492 non-null    float64
 1   Latitude            492 non-null    float64
 2   Longitude           492 non-null    float64
 3   Wealth Asset Index  492 non-null    float64
dtypes: float64(4)
memory usage: 19.2 KB

dhs_data.describe() doesn't give any relevant information

In [12]:
dhs_data.nunique()

Cluster Number        492
Latitude              492
Longitude             492
Wealth Asset Index      9
dtype: int64

Since, Wealth asset index consist of 9 unique values, we wanted to see those

In [13]:
dhs_data['Wealth Asset Index'].unique()

array([2. , 2.5, 4. , 3. , 5. , 1. , 1.5, 4.5, 3.5])