# Reading DHS Survey and GPS datasets

In [1]:
# Magic commands to enable autoreload of imported packages
%load_ext autoreload
%autoreload 2

Importing the packages we created for getting DHS datasets

In [2]:
from poverty_predictor.get_dhsdata import GetDHSData
from poverty_predictor.merge_dataframes import merge_dhs

Fetching raw DHS - GPS and Survey datasets

In [3]:
data = GetDHSData()
gps_df = data.gps_df()
survey_df = data.survey_df()

In [4]:
gps_df.head()

,DHSID,DHSCC,DHSYEAR,DHSCLUST,CCFIPS,ADM1FIPS,ADM1FIPSNA,ADM1SALBNA,ADM1SALBCO,ADM1DHS,...,DHSREGCO,DHSREGNA,SOURCE,URBAN_RURA,LATNUM,LONGNUM,ALT_GPS,ALT_DEM,DATUM,geometry
0,RW201000000001,RW,2010.0,1.0,RW,RW15,Southern,NULL,NULL,2.0,...,7.0,Huye,GPS,R,-2.532818,29.684726,1706.0,1702.0,WGS84,POINT (29.68473 -2.53282)
1,RW201000000002,RW,2010.0,2.0,RW,RW11,Eastern,NULL,NULL,5.0,...,26.0,Gatsibo,GPS,R,-1.833858,30.310689,1631.0,1631.0,WGS84,POINT (30.31069 -1.83386)
2,RW201000000003,RW,2010.0,3.0,RW,RW14,Western,NULL,NULL,3.0,...,16.0,Ngororero,GPS,R,-1.888155,29.478298,2310.0,2324.0,WGS84,POINT (29.47830 -1.88816)
3,RW201000000004,RW,2010.0,4.0,RW,RW11,Eastern,NULL,NULL,5.0,...,28.0,Kirehe,GPS,R,-2.366763,30.521692,1388.0,1399.0,WGS84,POINT (30.52169 -2.36676)
4,RW201000000005,RW,2010.0,5.0,RW,RW11,Eastern,NULL,NULL,5.0,...,30.0,Bugesera,GPS,R,-2.171266,30.018541,1437.0,1445.0,WGS84,POINT (30.01854 -2.17127)

In [5]:
survey_df.head()

,hhid,hv000,hv001,hv002,hv003,hv004,hv005,hv006,hv007,hv008,...,sh175_7,sh175_8,sh176_1,sh176_2,sh176_3,sh176_4,sh176_5,sh176_6,sh176_7,sh176_8
0,12115,RW6,121,15,2,121,737365,2,2011,1334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12119,RW6,121,19,1,121,737365,3,2011,1335,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12121,RW6,121,21,2,121,737365,2,2011,1334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12116,RW6,121,16,2,121,737365,2,2011,1334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,121 3,RW6,121,3,2,121,737365,2,2011,1334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Next, we will merge the two dataframes to get the cluster number, location co-ordinates and wealth scores for each region.

In [6]:
dhs_data = merge_dhs(gps_df, survey_df)
dhs_data.head()

   Cluster Number  Latitude  Longitude  Wealth Score
0             1.0 -2.532818  29.684726     -0.386620
1             2.0 -1.833858  30.310689     -0.421574
2             3.0 -1.888155  29.478298     -0.449724
3             4.0 -2.366763  30.521692     -0.390006
4             5.0 -2.171266  30.018541     -0.416924

## Glancing through the merged DHS dataset

In [7]:
dhs_data.shape

(492, 4)

In [8]:
dhs_data.nunique()

Cluster Number    492
Latitude          492
Longitude         492
Wealth Score      492
dtype: int64

In [9]:
dhs_data.columns

Index(['Cluster Number', 'Latitude', 'Longitude', 'Wealth Score'], dtype='object')

In [10]:
dhs_data.dtypes

Cluster Number    float64
Latitude          float64
Longitude         float64
Wealth Score      float64
dtype: object

In [11]:
dhs_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 492 entries, 0 to 491
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Cluster Number  492 non-null    float64
 1   Latitude        492 non-null    float64
 2   Longitude       492 non-null    float64
 3   Wealth Score    492 non-null    float64
dtypes: float64(4)
memory usage: 19.2 KB