# Reading DHS Survey and GPS datasets

In [1]:
# Magic commands to enable autoreload of imported packages
%load_ext autoreload
%autoreload 2

Importing the packages we created for getting DHS datasets

In [2]:
from poverty_predictor.get_dhsdata import GetDHSData
from poverty_predictor.merge_dataframes import merge_dhs

Fetching raw DHS - GPS and Survey datasets

In [3]:
data = GetDHSData()
gps_df = data.gps_df()
survey_df = data.survey_df()

Next, we will merge the two dataframes to get the cluster number, location co-ordinates and wealth scores for each region.

In [5]:
dhs_data = merge_dhs(gps_df, survey_df)
dhs_data.head()

   Cluster Number   Latitude  Longitude  Wealth Score
0             1.0 -13.360652  33.923942      1.167215
1             2.0 -12.855043  33.336077     -0.422531
2             3.0 -15.100664  35.534903     -0.483771
3             4.0 -12.015707  34.627514     -0.033378
4             5.0 -13.891912  33.000702     -0.688653

## Glancing through the merged DHS dataset

In [6]:
dhs_data.shape

(850, 4)

In [7]:
dhs_data.columns

Index(['Cluster Number', 'Latitude', 'Longitude', 'Wealth Score'], dtype='object')

In [8]:
dhs_data.dtypes

Cluster Number    float64
Latitude          float64
Longitude         float64
Wealth Score      float64
dtype: object

In [9]:
dhs_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 850 entries, 0 to 849
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Cluster Number  850 non-null    float64
 1   Latitude        850 non-null    float64
 2   Longitude       850 non-null    float64
 3   Wealth Score    850 non-null    float64
dtypes: float64(4)
memory usage: 33.2 KB

dhs_data.describe() doesn't give any relevant information

In [10]:
dhs_data.nunique()

Cluster Number    850
Latitude          850
Longitude         850
Wealth Score      850
dtype: int64